<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List des Declarations</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" >
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>

</head>
<body>
<div class="container my-2">
    <a class="btn btn-primary" th:href="@{/declarations/new}">Nouveau</a>
    <h1>Liste des Declarations</h1>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nom Declaration</th>
            <th>Date Declaration</th>
            <th>Montant Declaration</th>
            <th>Declarant</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="declaration : ${listDeclarations}">
            <td th:text="${declaration.id}"></td>
            <td th:text="${declaration.nomDeclaration}"></td>
            <td th:text="${#dates.format(declaration.dateDeclaration, 'dd-MM-yyyy')}"></td>
            <td th:text="${declaration.montantDeclaration}"></td>
            <td th:text="${declaration.declarant.raisonSociale}"></td>
            <td>
                <a th:href="@{/paiements/new/{declarationId}(declarationId=${declaration.id})}" class="btn btn-info"><i class="fas fa-money-check-alt icon-white"></i>Payer</a>
                <a th:href="@{/paiements/details/{id}(id=${declaration.id})}" class="btn btn-warning"><i class="fas fa-list icon-white"></i>Détails </a>
                <a th:href="@{/declarations/ShowFormForUpdate/{id}(id=${declaration.id})}" class="btn btn-primary"><i class="fas fa-pencil"></i></a>
                <a th:href="@{/declarations/deleteDeclaration/{id}(id=${declaration.id})}" class="btn btn-danger" onclick="return confirm('Etes vous sùr de vouloir supprimer cette declaration ?')"><i class="fas fa-trash-alt"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
